
{% extends 'base.html' %}

{% block title %}Destinations{% endblock %}

{% block content %}
    <h1 class="mb-4">Destinations</h1>
    <div class="list-group">
        {% for destination in destinations %}
            <a href="{% url 'destination:detail' destination.slug %}" class="list-group-item list-group-item-action">
                {{ destination.name }} ({{ destination.country }})
            </a>
        {% empty %}
            <p>No destinations.</p>
        {% endfor %}
    </div>
{% endblock %}