{% extends 'base.html' %}
{% load stars %}

{% block title %}
    {{ book.title }}
{% endblock %}

{% block content %}
    <div class="card">
        <div class="card-header">
            <img src="{{ book.cover_image.url }}">
            <h1>Book Details</h1>
        </div>

        <div class="card-body">
            <h1 class="card-title">{{ book.title }}</h1>
            <h5 class="card-subtitle mb-2 text-muted">By: {{ book.author }}</h5>
            <p class="card-text">{{ book.description }}</p>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item"><strong>ISBN:</strong> {{ book.isbn }}</li>
            <li class="list-group-item"><strong>Tags:</strong>{{ book.tags.all|join:', ' }} </li>
            <li class ='list-group-item'><strong>AVERAGE RATING:</strong> {{ book.avg_rating|floatformat:2|stars }}</li>
        </ul>
        <div class="card-body">
            <a href="{% url 'books:list' %}" class="btn btn-secondary">Back to List</a>
        </div>
        <div class="col-md-4">
            <a href="{% url 'books:edit' book.pk %}" class="btn btn-warning">Edit</a>
            <a href="{% url 'books:delete' book.pk %}" class="btn btn-danger">Delete</a>

        </div>
    </div>
{% endblock %}